.style8
{
    height: 39px;
}
.style9
{
    height: 33px;
}
.style10
{
    height: 35px;
}
.style11
{
    height: 33px;
    width: 214px;
}
.style12
{
    height: 39px;
    width: 214px;
}
.style13
{
    height: 35px;
    width: 214px;
}
        