.style8
{
    width: 372px;
}

.style9
{
    width: 584px;
}

.style11
{
    width: 584px;
    height: 52px;
}

.style13
{
    width: 302px;
}

.style14
{
    width: 279px;
}

.style17
{
    width: 372px;
    height: 45px;
}

.style18
{
    width: 279px;
    height: 45px;
}

.style19
{
    width: 302px;
    height: 45px;
}

.style20
{
    height: 45px;
}

.style21
{
    width: 372px;
    height: 42px;
}

.style22
{
    width: 279px;
    height: 42px;
}

.style23
{
    width: 302px;
    height: 42px;
}

.style24
{
    height: 42px;
}

.style25
{
    width: 372px;
    height: 40px;
}

.style26
{
    width: 279px;
    height: 40px;
}

.style27
{
    width: 302px;
    height: 40px;
}

.style28
{
    height: 40px;
}

.style29
{
    width: 372px;
    height: 41px;
}

.style30
{
    width: 279px;
    height: 41px;
}

.style31
{
    width: 302px;
    height: 41px;
}

.style32
{
    height: 41px;
}

.style33
{
    width: 372px;
    height: 52px;
}

.style34
{
    height: 52px;
}

.style35
{
    height: 42px;
    width: 166px;
}